<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Login</b></h3>
            <a [routerLink]="['/register']" class="link-primary">Don't have an account?</a>
          </div>
          <form (submit)="login()">
            <div class="form-group mb-3">
              <label class="form-label" for="email">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter your username"
                [(ngModel)]="username" name="username" />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password"
                name="password" />
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary">Login</button>
              <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
            </div>
          </form>
          <div class="saprator mt-3">
            <span>Login with</span>
          </div>
          <div class="row">
          </div>
        </div>
      </div>
      <div class="auth-footer row">
        <div class="col my-1">
        </div>
        <div class="col-auto my-1">
        </div>
      </div>
    </div>
  </div>
</div>